repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        language: system
        entry: cargo fmt
        files: '\.rs$'
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        language: system
        entry: cargo clippy -- -D warnings
        files: '\.rs$'
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        language: system
        entry: cargo test
        files: '\.rs$'
        pass_filenames: false
